
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-image: url(./images/meme2.jpg);
    background-color: black;
    
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
.card{
    background-color: white;
    width: 90%;
    margin: 40px;
padding: 30px;
box-shadow: grey 1px 1px;

}
hr{
    width: 100%;
    height: 1px;
    color: grey;
    margin-top: 10px;
    margin: 10px;
    
}
#profileimg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
    left: 20px;
   /* padding: 20px;*/
   /* margin: 30px;*/
    display: flex;
    float: left;
    margin-left: 20px;
}
#username{
    display: flex;
    float: left;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   
}

#memeimg{
    width: 95%;
    margin: 30px;
}

.fa-ellipsis-v{
    position: absolute;
    display: flex;
    float: left;
    margin-left: 850px;
    margin-top: 30px;
    
    
}
.foot i{
    display: inline;
    
   
    

}

#fillheart{

  
    
 margin: 30px;
    
   
}
#fillsave{
   margin-left: 1100px;
   
}



